body{
    background: #10354D;
    padding: 0;
}

section{
    padding: 15px;
}

h1{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 24px;
}

p{
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
}

em{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

img{
    width: 100%;
    width: 100%;
}

a:visited, a:hover{
    color: white;
}

.custom-div{
    border-bottom: 1px solid #10354D;
}

div{
    padding: 5px;
    margin: 5px;
}

.title{
    font-size: 120px;
    margin-bottom: 5px;
}

.tiny{
    font-size: 18px;
}

.center{
    text-align: center;
    color: #10354D;
    text-decoration: underline 1px #10354D;
}

#main-body{
    color: #10354D;
}

.main-bar{
    color: white;
    background-image: 
        linear-gradient(#10354D81, #10354D81),
        url("https://i.imgur.com/L977gH4.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#main-bar-overlay{
    height: 90vh;
}

.main-choice{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
}

#main-body>section>.main-choice{
    grid-template-columns: 1fr 1fr;
}

.main-choice>div{
    margin: 15px 30px 20px 30px;
}

.main-bottom{
    background-color: white;
}

#main-bottom{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.main-citations{
    color: white;
}

#main-citations{
    margin-top: 10px;
}

.citations-main{
    color: white;
}

#citations-back{
    height: 10%;
    width: 10%;
}

#eukaria-body{
    background-color: #235A55;
}

.eukaria-bar{
    color: white;
    background-image: 
        linear-gradient(#235A55c2, #235A52c2),
        url("https://i.imgur.com/CtfCjo9.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
}

.eukaria-description{
    background-color: white;
    color: #0F2524;
}

.eukaria-cta{
    color: white;
}

.eukaria-cta>h1{
    font-size: 50px;
    margin-bottom: 5px;
}

.eukaria-interactive{
    background-color: #54CEC3;
    text-align: center;
    padding-bottom: 10px;
}

.eukaria-interactive>h1{
    font-size: 50px;
    color: #0F2524;
}

#eukaria-interactive-text{
    text-align: right;
}

#prokaria-body{
    background-color: #EA7971;
    color: #2e0f0d;
}

.prokaria-bar{
    background: 
        linear-gradient(#853d387e, #853d387e),
        url("https://i.imgur.com/eMCjy0t.png");
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 70vh;
}

.prokaria-description{
    background-color: white;
}

.prokaria-interactive{
    color: white;
    background-color: #853d38;
}

.prokaria-interactive>h1{
    text-align: center;
    font-size: 50px;
}

#prokaria-interactive-text{
    text-align: right;
}

/*
light-teal: #54CEC3
dark-blue: #1B5E88
darker-blue: #10354D
red: 
*/